.header {
    background-color: #9740e9;
    color: #ffffff;
}
.header_h1_title {
    font-family: sans-serif;
}
.h2_title {
    font-family: sans-serif;
}
p  {
    font-size: 22px;
    line-height: 34px;
}
ul {
    font-size: 18px;
    line-height: 26px;
}
